


    <h1>Launch Academy News Aggregator</h1>
    <h2>Article Listing:</h2>

    <h3><%= @error_message %></h3>

      <% @articles.each do |article| %>
        <h4><span>Title: <%= article['title'] %> URL: <a href='<%= article['url'] %>' target="_blank"> <%= article['url'] %></a> Description: <%= article['description'] %></span></h4>
      <% end %>
      <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1318/s300/white-pink-logo.png">

      <div class="links">
        <a href="/"><span>Back to Home</span></a>
        <a href="/articles/new"><span>Submit Another Article</span></a>
      </div>
